<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <meta charset="UTF-8">
    <title>insta485</title>
    <!-- link the fonts here -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet">
</head>

<body>
    <!-- navigation -->
    <header class="header">
        <nav class="nav-bar">
            <div class="logo home">
                <a href="/"><img src="/static/images/name.png" alt="instagram logo"></a>
                <a href="/" class="sitename"></a>
            </div>
            <div class="search">
                <input class="nav-search" type="text" placeholder="Search">
            </div>
            <ul class="nav-links tab">
                <li><a href="/explore/" class="thick">explore</a></li>
                <li><a href="/users/{{logname}}/" class="thick">{{logname}}</a></li>
                <li>
                    <a href="/users/{{logname}}/">
                        <img class="nav-pfp" src="{{account_picture}}" alt="{{logname}}-profile-picture">
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="spacer"></div>


    <!-- everything else -->
    <div id="reactEntry">
        Loading ...
    </div>
    <!-- Load JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>


</html>