<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <title>insta485</title>
    <!-- link the fonts here -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet">
</head>

<body>
    <!-- navigation -->
    <header class="header">
        <nav class="nav-bar">
            <div class="logo home">
                <a href="/"><img src="/static/images/name.png" alt="instagram logo"></a>
                <a href="/" class="sitename"></a>
            </div>
            <div class="search">
                <input class="nav-search" type="text" placeholder="Search">
            </div>
            <ul class="nav-links tab">
                <li><a href="/explore/" class="thick">explore</a></li>
                <li><a href="/users/{{logname}}/" class="thick">{{logname}}</a></li>
                <!-- <li>
                    <a href="/users/{{logname}}/">
                        <img class="nav-pfp" src="{{account_picture}}" alt="{{logname}}-profile-picture">
                    </a>
                </li> -->
            </ul>
        </nav>
    </header>
    <div class="spacer"></div>


    <!-- login menu -->
    <section class="password">
        <div class="create_form">
            <!-- DO NOT CHANGE THIS -->
            <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
                <input type="password" name="password" required/>
                <input type="password" name="new_password1" required/>
                <input type="password" name="new_password2" required/>
                <input type="submit" name="update_password" value="submit" />
                <input type="hidden" name="operation" value="update_password" />
            </form>
            <div class="closer">
                <a href="/accounts/edit/"><strong>Edit account</strong></a>
            </div>
        </div>

    </section>
</body>